<h3>Teams</h3>

<div ng-show="teams">
	<table class="col s12 m10 hoverable bordered">
		<thead>
			<tr>
				<th>Team name</th>
				<!-- <th>Members</th> -->
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="team in teams">
				<td>
					<a class="btn transparent indigo-text text-lighten-1" style="box-shadow: none" href="/#/team/{{ team.id }}">{{ team.name }}</a>
				</td>
				<!-- <td>User name</td> -->
			</tr>
		</tbody>
	</table>
</div>
<div ng-show="!teams">
	<div class="row">
		<div class="col s12 m5">
			<div class="card-panel indigo accent-1">
				<span class="white-text">You have not joined any team yet</span>
			</div>
		</div>
	</div>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large indigo accent-3" href="/#/teams/new">
		<i class="large material-icons">add</i>
	</a>
</div>