<li class="indigo grey lighten-4">
	<h5>Channels</h5>
</li>
<li ng-show="!channels">
	<span class="grey-text lighten-2"><small>There are not channels here</small></span>
</li>
<li ng-show="channels" ng-class="{'active-item' : c.id == channel.id}" class="item" ng-repeat="c in channels">
	<a class="waves-effect waves-teal" href="/#/channel/{{ c.id }}">#&nbsp;<i class="tiny material-icons green-text" ng-show="c.sip">dialer_sip</i>&nbsp;{{ c.name }}</a>
	<!-- <a class="waves-effect waves-teal" ng-click="getChannel(c.id)">#&nbsp;{{ c.name }}</a> -->
</li>

<li ng-show="users && channels" class="indigo grey lighten-4">
	<h5>Team members</h5>
</li>
<li class="members" ng-show="users && channels" ng-repeat="u in users">
	<span ng-show="users.length == 1" class="grey-text lighten-2"><small>No more users apart from you</small></span>
	<span ng-if="user.id != u.id">@{{ u.name }}</span>
</li>