<div class="row"></div>
<div class="row">
	<form id="sign-up-form" class="col s12 m4 offset-m4 z-depth-1">
		<h3 class="grey-text text-accent-2">Sign up now!</h3>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">email</i>
				<input ng-model="name" id="name-field" type="text">
				<label for="email-field">Username</label>
				<p ng-show="error == 'name'" class="error-field"><small>Campo no válido.</small></p>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">email</i>
				<input ng-model="email" id="email-field" type="email">
				<label for="email-field">Email</label>
				<p ng-show="error == 'email'" class="error-field"><small>Campo no válido.</small></p>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">lock</i>
				<input ng-model="password1" id="password1" type="password">
				<label for="password1">Password</label>
				<p ng-show="error == 'password1'" class="error-field"><small>Campo no válido.</small></p>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">loop</i>
				<input ng-model="password2" id="password2" type="password">
				<label for="password2">Repeat password</label>
				<p ng-show="error == 'password2'" class="error-field"><small>Campo no válido.</small></p>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m8">
				<button ng-click="signUp(name, email, password1, password2)" class="btn waves-effect waves-light grey accent-2 right">Sign up</button>
			</div>
		</div>
	</form>
</div>