body {
    padding: 0px;
    margin: 0px;
    background: #f5f5f5;
}

#sidenav-icon {
	position: absolute;
	left: 30px;
	margin-top: -45px;
}

#logo-main {
	width: 140px;
	margin-top: 10px;
}

#sign-up-form {
    background: rgba(250, 250, 250, 1.0);
    padding: 50px;
}

.error-field {
    color: red;
}

.members {
	margin: 10px;
	color: #888;
}

.item {
	border-right: 6px solid transparent;
}

.active-item {
	border-right: 6px solid #9e9e9e;
	font-weight: bold;
}

.chat-input {
	border-top: 1px solid #ddd;
	margin: 0 !important;
}

.channel-title {
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

.msg-day {
	text-align: center;
	color: #888;
	font-weight: bold;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	margin: 10px 0 10px 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.msg-container {
	line-height: 1.5em;
}

.msg-container:hover {
	background: #f3f3f3;
	border-radius: 4px;
}
.msg-author {
	font-weight: bold;
}

.msg-time {
	font-size: 0.7em;
	color: #aaa;
}

.msg-data {
	font-size: 0.9em;
}

.msg-data-container {
	margin: 6px 0px 6px 0px;
}

#video-pull {
	background-color: #444;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: -100;
}

#waiting {
	margin-top: 18%;
	margin-left: 30%;
}

#video-localstream {
	bottom: 15px;
	right: 190px;
}

#my-video {
	height: 108px;
	width: 192px;
}

#video-streams {
	margin: auto;
	position: absolute;
	width: 100%;
	max-height: 100%;
	top: 80px;
}

.video-stream {
	height: 100%;
	width: 100%;
}