body {
    padding: 0px;
    margin: 0px;
}

#sign-up-form {
    background: rgba(232, 234, 246, 0.8);
    padding: 50px;
}

.error-field {
    color: red;
}

/* .parallax-container {
    height: 100px;
} */